.content-info {
  h5 {
    font-size: 20px;
  }

  .boxContent {
    margin-bottom: 2pc;
  }

  img {
    height: 20pc;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.title {
  font-size: 24px;
}
