.content-3 {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(180, 219, 255);

  .text-content-3 {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: justify;
  }

  .img-box {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 35pc;
      border-radius: 10px;
      transition: 0.3s all ease;

      &:hover {
        opacity: 0.9;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem !important;
        transition: 0.3s all ease;
      }
    }
  }

  .img-box.desktop {
    img {
      width: 28pc;
    }
  }
}
