.title {
  margin: 20px 0;
  h3 {
    font-size: 26px;
    font-weight: 500;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
}

.chart-box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  width: 50% !important;
  height: 20pc !important;

  &.desktop {
    width: 65% !important;
  }
}

.content {
  margin-top: 15px;
  width: 50%;
}
