.wrapper {
  display: flex;
  overflow-x: hidden;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2pc 0;

  > p {
    font-style: italic;
    color: #333;
    margin-bottom: 0;
  }
}

.content {
  border-radius: 10px;
  width: 70%;
  margin-bottom: 40px;

  .header-list {
    position: relative;
    z-index: 2;
    padding: 20px;
    padding-bottom: 0;
    box-shadow: 0 5px 15px -10px #333;
  }

  .list {
    max-height: 850px;
    padding: 20px;
    overflow-y: scroll;
  }

  .list.scroll {
    overflow-y: unset;
  }
}

.sort-box {
  margin: 2pc 0;
  margin-left: 30px;
  padding-right: 30px;
  transition: all 0.3s;

  &.hidden {
    display: none;
    transition: all 0.3s ease;
  }
}

.container-list {
  flex: 1;
  position: relative;

  .turn-sort-bar {
    font-size: 20px;
    position: absolute;
    transform: rotate(0);
    z-index: 10;
    top: 8pc;
    left: 4pc;
    transition: all 0.3s ease;

    &:hover {
      border-radius: 50%;
      color: #fff;
      background-color: aqua;
      border: 1px solid #333;
      cursor: pointer;
    }

    &.hidden {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }
  }
}
