.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--background-main);
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2pc 0;

  > p {
    font-style: italic;
    color: #333;
    margin-bottom: 0;
  }
}

.content {
  min-height: 30pc;
  border-radius: 10px;
  margin-bottom: 40px;
}

.sort-box {
  display: flex;
  justify-content: center;
  margin: 2pc 0;
  margin-left: 30px;
  padding-right: 30px;
  transition: all 0.3s;

  &.hidden {
    height: 0 !important;
    width: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;
    pointer-events: none; /* Ngăn tương tác khi bị ẩn */
    margin: 0;
    transition: all 0.5s ease;
  }
}

.container-list {
  flex: 1;
  position: relative;

  .turn-sort-bar {
    font-size: 20px;
    position: absolute;
    transform: rotate(0);
    z-index: 10;
    top: 8pc;
    left: 4pc;
    transition: all 0.3s ease;

    &:hover {
      border-radius: 50%;
      color: #fff;
      background-color: aqua;
      border: 1px solid #333;
      cursor: pointer;
    }

    &.hidden {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }
  }

  .content {
    background-color: #fff;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.message-notitem {
  font-size: 15px;
}

.img-notfound {
  width: 5pc;
  height: 5pc;
}
