.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2pc 0;

  > p {
    font-style: italic;
    color: #333;
    margin-bottom: 0;
  }
}

.list-class {
  min-height: 28pc;
}

.v-inp {
  font-size: 20px !important;
}
