.wrapper {
  background-color: var(--background-main);
}

.title {
  padding-top: 30px;
  margin-bottom: 15px;
}

.list-student {
  min-height: 500px;
  margin-top: 2pc;
  display: flex;
  flex-direction: column;

  .count {
    width: 20px;
    font-size: 30px;
    margin-right: 20px;
  }
}

.btn-redirect {
  font-size: 24px;
  margin-left: 15pc;
  margin-top: 15pc;
  padding: 6px;
  &:hover {
    opacity: 0.8;
  }
}
