.wrapper {
  display: flex;
  width: 100%;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;

  &.dragging {
    opacity: 0.8;
    background-color: #bee2f5;
  }

  > .icon-drag {
    margin-left: 10px;
    width: 20px;
  }

  > img {
    margin: 10px 0;
    margin-left: 8px;
    height: 4.5pc;
    width: 4.5pc;
    border-radius: 50%;
    object-fit: scale-down;
    background-color: #fff;
  }

  &.scrolling {
    height: 80px !important;
    width: 300px !important;
    background-color: #fff;
    position: relative;
    z-index: 99;
    transition: all 0.3s ease;

    > img {
      aspect-ratio: 1 / 1;
    }

    h4 {
      font-size: 16px;
    }

    .point {
      .first {
        font-size: 24px;
      }
    }
  }

  + .wrapper {
    margin-top: 10px;
  }

  &:hover {
    transform: translateY(-5px);
    background-color: #f0f0f0;
    transition: all 0.3s ease;
  }

  .list-icon {
    border-radius: 90%;
    padding: 0 7px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;

    &:hover {
      .opt-noti {
        display: block;
      }

      background-color: #ccc;
      color: #fff;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 20px;
  font-style: italic;

  > h4 {
    margin-bottom: 0;
    font-size: 28px;
  }

  .content {
    font-style: normal;
    font-size: 14px;
    color: #444;
  }
}

.point {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 40px;
  align-items: end;

  .first {
    line-height: 1;
    font-size: 40px;
    color: green;
  }
}

.opt-noti {
  display: none;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border-radius: 10px;
  width: max-content;
  z-index: 9;
  position: absolute;
  inset: auto 0px -12px auto;
  transform: translate(-25px, 42px);
  margin: 0px;

  li {
    padding: 10px 15px;
    font-size: 12px;
  }

  > li:first-child {
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  > li:last-child {
    color: #000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  > li:hover {
    cursor: pointer;
    background-color: #ededed;
  }
}
