.box-content-info {
  width: 100%;
  padding: 2pc 0;
  background-color: #f1f8ff;
}

.box-content-info .info {
  text-align: end;
}

.box-content-info .info > i {
  font-style: italic;
  color: #777;
}

.box-content-info .title {
  margin-bottom: 3pc;
}

.box-content-info .ds-data {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 1pc;
  margin: 0;
  gap: 3pc;
}

.box-content-info .ds-data li {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

.box-content-info .ds-data h2 {
  font-size: 40px;
}
