.step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
}

.progress_bar-steps {
  padding: 0;
  display: flex;
  gap: 12pc;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(223, 221, 221);
    z-index: 0;
  }
}

.progress_bar-progress {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  background-color: blue;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.progress_bar-step {
  width: 30px;
  height: 30px;
  font-weight: 600;
  border-radius: 50%;
  border: 5px solid rgb(223, 221, 221);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;

  > span {
    color: black;
    position: relative;
    top: 36px;
  }
}

.progress_bar-step.active {
  background-color: blue;
  border: 5px solid blue;
  color: #fff;
  transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);

  > span {
    color: #fff;
  }
}

.step-label {
  margin-top: 10px;
  font-size: 14px;
  width: max-content;
  color: black;

  > p {
    margin-top: 40px;
  }
}
