.classmate {
  max-width: 47vw;
  height: 100vh;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
  transition: all 0.5s ease;

  &.show {
    display: block;
    transition: all 3s ease;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 1.5pc;
    border-bottom: 1px solid #333;
  }

  .body {
    padding: 10px;
    margin-top: 1.5pc;
    min-height: 10pc;
    background-color: #ccc;
    border-radius: 10px;
  }

  &.show {
    display: block;
    transition: all 0.4s ease;
  }
}
