.school-info {
  margin: 0 20px;
  margin-top: 20px;
  height: 16pc;
  position: relative;
  display: flex;
  pointer-events: none;
  user-select: none;
  border-radius: 12px;
  width: calc(var(--width-header) - 40px);

  &.manager {
    margin-top: 0;
    height: 22pc;
    width: 100%;
  }
}

.banner-container,
.school-banner {
  width: 50%;
}

.banner-container {
  position: relative;
}

.school-banner {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.school-banner-second {
  width: 100%;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.school-info-detail {
  position: absolute;
  top: 20px;
  left: 13px;
  height: 100%;
  width: 97%;
  overflow: hidden;
  overflow-y: auto;
}

.manager {
  .school-info-detail {
    top: 30px;
    left: 16px;
    height: 100%;
    width: 100%;
  }

  .school-banner {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .school-banner-second {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.school-info-detail p {
  margin-bottom: 0;
}

.school-info-detail img {
  width: 100%;
  height: 89%;
}
