.banner-container,
.school-banner {
  width: 50%;
}

.banner-container {
  position: relative;
}

.school-banner-second {
  width: 100%;
  height: 100%;
}

.school-info-detail {
  position: absolute;
  top: 30px;
  left: 16px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.school-info-detail p {
  margin-bottom: 0;
}

.school-info-detail img {
  width: 100%;
  height: 89%;
}

.school-info {
  margin: 0px;
  height: 22pc;
  position: relative;
  display: flex;
  pointer-events: none;
  user-select: none;
}
